@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Passion One', cursive;
}



/* GRILLA - GRILLA - GRILLA - GRILLA - GRILLA - GRILLA - */


.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}



/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - */


header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

.imgLogo {
    width: 140px;
    height: 70px;
    cursor: pointer;
    margin: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo form {
    margin: 30px;
}

.buscador {
    height: 35px;
    width: 350px;
    padding-left: 15px;
    font-size: 20px;
}

.botonesPerfil {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.perfil {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: rgb(50, 210, 210);
}

.perfil:hover {
    background-color: white;
    color: rgb(50, 210, 210);
}

.lista {
    display: flex;
    flex-direction: row;
    place-content: center;
    list-style: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lista li {
    margin: 20px;
}

.abcColor {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.abcColor:hover {
    color: rgb(50, 210, 210);
}


/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN -*/


main {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
}

.h2 {
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 15px;
}

.tdProducto {
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    border-bottom-style: groove;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 23px;
}

.thText {
    display: flex;
    align-items: baseline;
}

.imgProducto {
    width: 180px;
    height: 180px;
    cursor: pointer;
    margin: 15px;
}

.trCaja {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tableProducto {
    display: grid;
}

.linea {
    border-top: solid 1px #e5e5e5;
    margin: 15px;
    padding-top: 15px;
    margin-top: auto;
}

.linkOfertas {
    color: rgb(50, 210, 210);
}

.linkOfertas:hover {
    color: white;
}

.linkProductos {
    color: rgb(50, 210, 210);
}

.linkProductos:hover {
    color: white;
}


/* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - */


footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logoFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.logoChico {
    width: 55px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
}

.derechos1 {
    color: rgb(50, 210, 210);
    padding-left: 10px;
}

.derechos2 {
    color: white;
}

.listaRedes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
}

footer i {
    color: rgb(50, 210, 210);
    padding: 10px;
    font-size: 30px;
}

footer i:hover {
    color: white;
}



/* QUIENESSOMOS.HTML - QUIENESSOMOS.HTML - QUIENESSOMOS.HTML - */

/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - */


h3 {
    margin-top: 50px;
    margin-left: 400px;
}

.nosotrosH3 {
    background-color: rgb(50, 210, 210);
    height: 40px;
    width: 130px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.pQuienesSomos {
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 50px;
    background-color: rgb(50, 210, 210);
    height: 70px;
    width: 790px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

.pQuienesSomos2 {
    margin-top: 50px;
    margin-left: 770px;
    margin-bottom: 100px;
    background-color: rgb(50, 210, 210);
    padding-left: 10px;
    padding-top: 10px;
    height: 90px;
    width: 420px;
}



/* SERVICIODEAYUDA.HTML - SERVICIODEAYUDA.HTML - SERVICIODEAYUDA.HTML - */

/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - */


h4 {
    margin-top: 50px;
    margin-left: 400px;
    font-size: 18px;
}

.ayudaH3 {
    background-color: rgb(50, 210, 210);
    height: 40px;
    width: 180px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.pServicioDeAyuda {
    margin-top: 15px;
    margin-left: 400px;
}

.formUtil {
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 100px;
}

.spanUtil {
    margin-right: 15px;
    color: rgb(50, 210, 210);
}

.inputR {
    margin-right: 15px;
}

.enviarB {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: rgb(50, 210, 210);
    border: none;
}

.enviarB:hover {
    background-color: white;
    color: rgb(50, 210, 210);
}

.colorH4Ayuda {
    color: rgb(50, 210, 210);
}



/* REGISTRO.HTML - REGISTRO.HTML - REGISTRO.HTML - */

/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - */


.datosH3 {
    background-color: rgb(50, 210, 210);
    height: 40px;
    width: 160px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.resgistroForm {
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 100px;
}

.resgistroSpan {
    color: rgb(50, 210, 210);
}

.resgistrarmeInput {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: rgb(50, 210, 210);
    border: none;
}

.resgistrarmeInput:hover {
    background-color: white;
    color: rgb(50, 210, 210);
}


/* INICIARSESION.HTML - INICIARSESION.HTML - INICIARSESION.HTML - */

/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - */


.ingresarH3 {
    background-color: rgb(50, 210, 210);
    height: 40px;
    width: 80px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}



/* RESPONSIVEDESING - RESPONSIVEDESING - RESPONSIVEDESING -  */

/* CELU 480 WIDTH - CELU 480 WIDTH - CELU 480 WIDTH -*/


@media (max-width: 480px) {
    .h2, h4, .pServicioDeAyuda, .formUtil, .pQuienesSomos, .pQuienesSomos2 {
        margin-left: 15px;
        margin-right: 15px;
    }
    .pQuienesSomos {
        height: 120px;
        width: 435px;
    }
    .resgistroForm {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        margin-left: 0px;
    }
    main {
        align-items: center;
    }
    label {
        text-align: center;
    }
    input::placeholder {
        text-align: center;
    }
    .spanUtil {
        margin-left: 5px;
    }
}
