@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Passion One', cursive; }

footer .logoFooter .derechos1 {
  color: #32d2d2;
  padding-left: 10px; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  color: white; }
  header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    header .logo a .imgLogo {
      width: 140px;
      height: 70px;
      cursor: pointer;
      margin: 10px; }
    header .logo form {
      margin: 30px; }
      header .logo form .buscador {
        height: 35px;
        width: 350px;
        padding-left: 15px;
        font-size: 20px; }
  header nav .lista {
    display: flex;
    flex-direction: row;
    place-content: center;
    list-style: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap; }
    header nav .lista li {
      margin: 20px; }
      header nav .lista li .abcColor {
        color: white;
        text-decoration: none;
        font-size: 20px; }
        header nav .lista li .abcColor:hover {
          color: #32d2d2; }
  header .botonesPerfil {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    header .botonesPerfil a .perfil {
      cursor: pointer;
      margin: 5px;
      font-size: 20px;
      height: 40px;
      width: 150px;
      background-color: #32d2d2;
      color: black; }
      header .botonesPerfil a .perfil:hover {
        background-color: white;
        color: #32d2d2; }

/* RESPONSIVEDESING - RESPONSIVEDESING - RESPONSIVEDESING -  */
@media (max-width: 1190px) {
  input::placeholder {
    text-align: center; } }

@media (max-width: 410px) {
  header .logo form .buscador {
    width: 300px; } }

@media (max-width: 360px) {
  header .logo form .buscador {
    width: 250px; } }

@media (max-width: 310px) {
  header .logo form .buscador {
    width: 200px; } }

footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  footer .logoFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center; }
    footer .logoFooter a .logoChico {
      width: 55px;
      height: 50px;
      cursor: pointer;
      margin: 10px; }
    footer .logoFooter .derechos2 {
      color: white; }
  footer .listaRedes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    list-style: none; }
    footer .listaRedes li a i {
      color: #32d2d2;
      padding: 10px;
      font-size: 30px; }
      footer .listaRedes li a i:hover {
        color: white; }

main {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column; }
  main section div .tableProducto {
    display: grid; }
    main section div .tableProducto tr .thText {
      display: flex;
      align-items: baseline; }
      main section div .tableProducto tr .thText .h2 {
        margin-top: 50px;
        margin-left: 400px;
        margin-right: 15px; }
      main section div .tableProducto tr .thText .linkOfertas {
        color: #32d2d2; }
        main section div .tableProducto tr .thText .linkOfertas:hover {
          color: white; }
      main section div .tableProducto tr .thText .linkProductos {
        color: #32d2d2; }
        main section div .tableProducto tr .thText .linkProductos:hover {
          color: white; }
    main section div .tableProducto .trCaja {
      display: flex;
      margin-top: 15px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      main section div .tableProducto .trCaja .tdProducto {
        margin-right: 10px;
        margin-left: 10px;
        background-color: white;
        border-bottom-style: groove;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-bottom: 23px; }
        main section div .tableProducto .trCaja .tdProducto a .imgProducto {
          width: 180px;
          height: 180px;
          cursor: pointer;
          margin: 15px; }
          main section div .tableProducto .trCaja .tdProducto a .imgProducto:hover {
            transform: scale(1.2);
            transition: 2s; }
        main section div .tableProducto .trCaja .tdProducto .linea {
          border-top: solid 1px #e5e5e5;
          margin: 15px;
          padding-top: 15px;
          margin-top: auto; }
          main section div .tableProducto .trCaja .tdProducto .linea span {
            color: #32d2d2; }

/* RESPONSIVEDESING - RESPONSIVEDESING - RESPONSIVEDESING -  */
@media (max-width: 1190px) {
  main {
    align-items: center; }
    main section div .tableProducto tr .thText .h2 {
      margin-left: 15px;
      margin-right: 15px; } }

main .ingresarH3 {
  background-color: #32d2d2;
  height: 40px;
  width: 80px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px; }

main h3 {
  margin-top: 50px;
  margin-left: 400px; }

main .nosotrosH3 {
  background-color: #32d2d2;
  height: 40px;
  width: 130px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px; }

main .pQuienesSomos {
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: 50px;
  background-color: #32d2d2;
  height: 70px;
  width: 790px;
  padding-top: 10px;
  padding-left: 10px;
  color: white; }

main .pQuienesSomos2 {
  margin-top: 50px;
  margin-left: 770px;
  margin-bottom: 100px;
  background-color: #32d2d2;
  padding-left: 10px;
  padding-top: 10px;
  height: 90px;
  width: 420px; }

/* RESPONSIVEDESING - RESPONSIVEDESING - RESPONSIVEDESING -  */
@media (max-width: 1190px) {
  main h3 {
    margin-left: 0px; }
  main .pQuienesSomos {
    height: 120px;
    width: 435px;
    margin-left: 15px;
    margin-right: 15px; }
  main .pQuienesSomos2 {
    margin-left: 15px;
    margin-right: 15px; } }

main .datosH3 {
  background-color: #32d2d2;
  height: 40px;
  width: 160px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px; }

main .resgistroForm {
  margin-top: 20px;
  margin-left: 400px;
  margin-bottom: 100px; }
  main .resgistroForm label .resgistroSpan {
    color: #32d2d2; }
  main .resgistroForm .resgistrarmeInput {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: #32d2d2;
    border: none; }
    main .resgistroForm .resgistrarmeInput:hover {
      background-color: white;
      color: #32d2d2; }

/* RESPONSIVEDESING - RESPONSIVEDESING - RESPONSIVEDESING -  */
@media (max-width: 1190px) {
  main .resgistroForm {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .resgistroForm label {
      text-align: center; } }

main h4 {
  margin-top: 50px;
  margin-left: 400px;
  font-size: 18px; }

main .ayudaH3 {
  background-color: #32d2d2;
  height: 40px;
  width: 180px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px; }

main .colorH4Ayuda {
  color: #32d2d2; }

main .pServicioDeAyuda {
  margin-top: 15px;
  margin-left: 400px; }

main .formUtil {
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: 100px; }
  main .formUtil .spanUtil {
    margin-right: 15px;
    margin-left: 5px;
    color: #32d2d2; }
  main .formUtil label .inputR {
    margin-right: 15px; }
  main .formUtil .enviarB {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: #32d2d2;
    border: none; }
    main .formUtil .enviarB:hover {
      background-color: white;
      color: #32d2d2; }

/* RESPONSIVEDESING - RESPONSIVEDESING - RESPONSIVEDESING -  */
@media (max-width: 1190px) {
  main h4 {
    margin-left: 15px;
    margin-right: 15px; }
  main .pServicioDeAyuda {
    margin-left: 15px;
    margin-right: 15px; }
  main .formUtil {
    margin-left: 15px;
    margin-right: 15px; } }

/* GRILLA - GRILLA - GRILLA - GRILLA - GRILLA - GRILLA - */
.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header header" "main main main main main" "footer footer footer footer footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }
