@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Passion One', cursive;
}


@import './secciones/header';
@import './secciones/footer';
@import'./secciones/index';
@import'./secciones/iniciarSesion';
@import'./secciones/quienesSomos';
@import'./secciones/registro';
@import'./secciones/servicioDeAyuda';


/* GRILLA - GRILLA - GRILLA - GRILLA - GRILLA - GRILLA - */
.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}