main{
    .ingresarH3 {
        background-color: rgb(50, 210, 210);
        height: 40px;
        width: 80px;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 10px;
    }
    
}